/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { QtiCore } from "../core.js";
import { encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { QtiError } from "../models/errors/qtierror.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Get a specific test part with all its sections
 *
 * @remarks
 * Retrieve a test part by identifier including all its sections and their assessment item references. Test parts define navigation and submission behaviors for groups of sections. Supports both JSON and XML response formats.
 */
export function testPartManagementGetTestPart(
  client: QtiCore,
  request: operations.GetTestPartRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.GetTestPartResponse,
    | errors.GetTestPartNotFoundError
    | errors.GetTestPartInternalServerError
    | QtiError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: QtiCore,
  request: operations.GetTestPartRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.GetTestPartResponse,
      | errors.GetTestPartNotFoundError
      | errors.GetTestPartInternalServerError
      | QtiError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) => operations.GetTestPartRequest$outboundSchema.parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const pathParams = {
    assessmentTestIdentifier: encodeSimple(
      "assessmentTestIdentifier",
      payload.assessmentTestIdentifier,
      { explode: false, charEncoding: "percent" },
    ),
    identifier: encodeSimple("identifier", payload.identifier, {
      explode: false,
      charEncoding: "percent",
    }),
  };

  const path = pathToFunc(
    "/assessment-tests/{assessmentTestIdentifier}/test-parts/{identifier}",
  )(pathParams);

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const securityInput = await extractSecurity(client._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "getTestPart",
    oAuth2Scopes: [],

    resolvedSecurity: requestSecurity,

    securitySource: client._options.security,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["404", "4XX", "500", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.GetTestPartResponse,
    | errors.GetTestPartNotFoundError
    | errors.GetTestPartInternalServerError
    | QtiError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, operations.GetTestPartResponse$inboundSchema),
    M.jsonErr(404, errors.GetTestPartNotFoundError$inboundSchema),
    M.jsonErr(500, errors.GetTestPartInternalServerError$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
